<br>
<div class="container" style="margin-top:80px;margin-bottom: 20px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
    <blockquote class="blockquote">
      <h1 class="display-4" style="color: rgb(255 ,0, 106);"><b>Galería de fotografías</b></h1>
    </blockquote>
    </div>
  </div>
  <div class="row">

    <div *ngFor="let galeria of lista_galeria" class="col-lg-3">

        <!--<div class="card" style="width: 17rem;  border-radius: 15px; border-color: #5e00da;height: 350px;">
            <img style="height:180px" [src]="galeria.imagen_portada" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" [innerHtml]="galeria.descripcion"></h3>
            </div>
            <div class="card-footer"  align="center">
              <a type="button" class="btn btn-outline-info" (click)="verMas(galeria)" >Ver mas</a>
            </div>
        </div>-->

        <!--<div class="card mb-3" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img style="height:180px" class="img-fluid"  [src]="galeria.imagen_portada" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 [innerHtml]="galeria.descripcion" class="card-title"></h5>
                <a type="button" class="btn btn-info btn-block" (click)="verMas(galeria)" >Ver album</a>
              </div>
            </div>
          </div>
        </div>-->

        <div class="shadow p-3 rounded card text-white bg-secondary mb-3" style="background-image:linear-gradient(to right, #d12b7e, #c30665, #a70368, #5d003a);" >
          <img style="height:180px" [src]="galeria.imagen_portada" class="card-img-top" alt="...">
          <div class="card-header text-center"  [innerHtml]="galeria.descripcion" style="height: 60px;font-weight: bold;"></div>

          <div class="card-footer">
            <a type="button" class="btn btn-light btn-block text-dark"  (click)="verMas(galeria)" >Ver álbum</a>
          </div>
        </div>

    </div>
</div>

</div>


