<app-menu></app-menu>
<router-outlet></router-outlet>
<!--<div class="pepe">
  <i>Fundacion Seno</i>&nbsp;&nbsp;Copyright &copy;&nbsp; {{anio}}.&nbsp; Todos los derechos reservados
</div>-->
<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-image: linear-gradient(to right, #00a8a8, #0088ac, #0065a3, #353d84, #510651);">
    © {{anio}} Copyright - 
    <a class="text-white" href="https://mdbootstrap.com/"><b>Fundación Seno</b></a>

    Todos los derechos reservados
  </div>
  <!-- Copyright -->
</footer>

