  <br>
 <div class="container" style="margin-top:80px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
    <blockquote class="blockquote">
      <p class="mb-1"  style="color: rgb(255 ,0, 106);"><b>Galería de fotografías</b></p>
      <footer class="blockquote-footer" [innerHtml]="descripcion"></footer>
    </blockquote>
    </div>
  </div>
<div class="container">
    <div class="row">
      <div *ngFor="let imagen of lista_imagenes " class="col-lg-3">
        <div class="img-box1">
          <img style="height:auto" class="img-responsive" [src]="imagen.imagen" >
        </div>
      </div>
    </div>
</div>
 </div>
  







